In [242]:
import pandas as pd

Cargar datos

In [243]:
# Importamos el dataset de los datos de los pokemon
pokemon_data = pd.read_csv('dataset_final.csv')

In [244]:
'''
1. ¿Cuántos pokémon hay en el dataset? 
'''
#Respuesta: en el dataset hay 800 pokémones

cant_pokemones = len(pokemon_data)
print(cant_pokemones)

800

In [245]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
#Respuesta: hay 28 pokémones de tipo Poison en la columna Type 1

Poison_type = pokemon_data['Type 1'] == 'Poison'
print(len(pokemon_data[Poison_type]))

28

In [246]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
#Respuesta: hay 18 tipos diferentes de pokémons

cant_type1 = pokemon_data['Type 1'].value_counts()
print(len(cant_type1))

18

In [247]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
#Respuesta: abajo se despliega la lista con la cantidad de pokémones de cada tipo
'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''
#Respuesta: el tipo de pokémon con más pokémon es el Type 1 Water

pokemon_data.groupby('Type 1')['Name'].count().sort_values(ascending=False)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64

In [248]:
'''
3. ¿Cuál es el pokémon más rápido?
speed
'''
#Respuesta: el pokémons más rápido es DeoxysSpeed Forme

pokemon_data[pokemon_data['Speed'] == pokemon_data ['Speed'].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True

In [249]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''
'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''
#Respuesta: 123 pokémones tienen defensa superior a 100

pokemon_data_def100 = pokemon_data[(pokemon_data['Defense'] > 100)]
print(len(pokemon_data_def100))

123

In [250]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
#Respuesta: 9 pokémones tienen una defensa mayor a 100 y una velocidad mayor a 100

pokemon_data_defyvel = pokemon_data[(pokemon_data['Defense'] > 100) & (pokemon_data['Speed'] > 100)]
print(len(pokemon_data_defyvel))

9

In [251]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''

pokemon_data.sort_values(['Type 1', 'Type 2'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [252]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
new_poke_w = pokemon_data [(pokemon_data['Type 1'] == 'Water')]
new_poke_f = pokemon_data [(pokemon_data['Type 1'] == 'Fire')]
np_wyf = pd.concat([new_poke_w, new_poke_f], axis=0)
wat_fir = pd.DataFrame(np_wyf)
print(len(wat_fir))
#hay 164 pokémones si cuento solo los water y fire

164

In [253]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
poke_leg = pokemon_data [(pokemon_data['Legendary'] == True)]
pd.DataFrame(poke_leg)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [254]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
poke_leg.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000
mean,470.215385,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231
std,173.651095,60.937389,21.722164,30.348037,28.255131,31.104608,28.827004,22.952323,1.455262
min,144.000000,580.000000,50.000000,50.000000,20.000000,50.000000,20.000000,50.000000,1.000000
25%,381.000000,580.000000,80.000000,100.000000,90.000000,100.000000,90.000000,90.000000,3.000000
50%,483.000000,600.000000,91.000000,110.000000,100.000000,120.000000,100.000000,100.000000,4.000000
75%,642.000000,680.000000,105.000000,131.000000,115.000000,150.000000,120.000000,110.000000,5.000000
max,721.000000,780.000000,150.000000,190.000000,200.000000,194.000000,200.000000,180.000000,6.000000

In [255]:
'''promedio de los no Legendary'''

poke_notleg = pokemon_data [(pokemon_data['Legendary'] == False)]
pd.DataFrame(poke_notleg)
poke_notleg.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000
mean,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
std,208.590419,106.760417,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471
min,1.000000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,175.500000,324.000000,50.000000,54.500000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,346.000000,425.000000,65.000000,72.000000,66.000000,65.000000,65.000000,64.000000,3.000000
75%,533.500000,498.000000,79.500000,95.000000,85.000000,85.000000,85.000000,85.000000,5.000000
max,715.000000,700.000000,255.000000,185.000000,230.000000,175.000000,230.000000,160.000000,6.000000

In [256]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''
legendary = pd.Series({'HP':92.738462,'Attack':116.676923,'Defense':99.661538,'Sp. Atk':122.184615,'Sp. Def':105.938462,'Speed':100.184615,'Generation': 3.769231})
not_legendary = pd.Series({'HP':67.182313,'Attack':75.669388,'Defense':71.559184,'Sp. Atk':68.454422,'Sp. Def':68.892517,'Speed':65.455782,'Generation': 3.284354})

data_leg = {"Legendary": legendary, "No Legendary": not_legendary} 
  
new_d_l = pd.concat(data_leg,axis=1).transpose()
print(new_d_l)

                     HP      Attack    Defense     Sp. Atk     Sp. Def  \
Legendary     92.738462  116.676923  99.661538  122.184615  105.938462
No Legendary  67.182313   75.669388  71.559184   68.454422   68.892517

                   Speed  Generation
Legendary     100.184615    3.769231
No Legendary   65.455782    3.284354

In [257]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''

doble_type = 0

for pokemones in pokemon_data:
    if 'Type 1' != "" and 'Type 2' != "":
        doble_type = 1

pokemon_data['Doble type'] = doble_type
print(pokemon_data)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Doble type
0         65       65     45           1      False           1
1         80       80     60           1      False           1
2        100      100     80           1      False           1
3        122      120     80           1      False           1
4         60       50     65           1      False           1
..       ...      ...    ...         ...        ...         ...
795      100      150     50           6       True           1
796      160      110    110           6       True           1
797      150      130     70           6       True           1
798      170      130     80           6       True           1
799      130       90     70           6       True           1

[800 rows x 14 columns]

In [258]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''

data_type2 = pokemon_data [(pokemon_data['Doble type'] == 1)]
data_type = data_type2[['Name', 'Type 1', 'Type 2']].sort_values(['Type 1', 'Type 2', 'Name'])
data_type.head()

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire

In [259]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']

comprado = articulos['Camisa'], articulos['Pantalón'], articulos['Pantalón'], articulos['Gorra'], articulos['Gafas'], articulos['Corbata']

# A. Una función que calcule el precio total de la compra
def sum(a,b):
    return a+b

#B. Una función que calcule el precio total de la compra con un descuento del 10%
def descuento_10(precio):
    descuento = precio_total * 0.10
    return precio_total - descuento

#C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
def descuento_mas100(precio):
    if precio > 100:
        descuento = precio_total * 0.10
        return precio_total - descuento

#D. Una función que calcule el precio total aplicando el IVA (21%) 
def suma_iva(precio):
    costo_iva = precio_total * 0.21
    return precio_total + costo_iva

precio_total = reduce(sum,comprado)
print(precio_total)

precio_desc10 = descuento_10(precio_total)
print(precio_desc10)

precio_desc_mas100 = descuento_mas100(precio_total)
print(precio_desc_mas100)

precio_iva = suma_iva(precio_total)
print(precio_iva)


# E.lista los artículos cuyo precio es superior a 20€

def mas20(precio):
    if precio > 20:
        return True

artsup20 = filter(mas20,comprado)
print(list(artsup20))

155
139.5
139.5
187.55
[30, 30, 25, 40]

In [260]:
import numpy as np
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]



for fila in alumnos:
    i=0
    columna = [fila[i]]
    curso1 = []
    if fila[2] == 1:
        curso1.append(alumnos)


for fila in alumnos:
    i=0
    columna = [fila[i]]
    curso2 = []
    if fila[2] == 2:
        curso2.append(alumnos)